@model PostModel

<div class="col-md-12">
    <div class="card p-3">
        <h1 class="card-title">@Model.Title</h1>
        <span class="clearfix text-muted">
            <span class="float-left">
                Modified : @Model.UpdatedAt.ToString()
            </span>
            <span class="float-right">
                Created : @Model.CreatedAt.ToString()
            </span>
        </span>
        <hr />
        <div>
            @Html.Raw(Model.Body)
        </div>
    </div>
</div>